<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="app.min.css">
</head>
<body>
<header class="ui green inverted segment center aligned attached">
    <h1 class="ui icon header">
        <i class="settings icon"></i>
        <div class="content">
            Video Director Helper
        </div>
    </h1>
</header>
<div class="ui segment center aligned attached">
    <div class="ui buttons">
        <div class="ui animated button" data-time="9:00am" data-content="Service video title">
            <div class="visible content">9:00am</div>
            <div class="hidden content">
                <i class="right copy icon"></i>
            </div>
        </div>
        <div class="or"></div>
        <div class="ui animated button" data-time="10:40am" data-content="Service video title">
            <div class="visible content">10:40am</div>
            <div class="hidden content">
                <i class="right copy icon"></i>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <p>Click one of the service times above to copy the appropriate video title to your clipboard. Use the title when setting up on YouTube and in Wirecast.</p>
</div>
<script src="app.min.js"></script>
</body>
</html>