html {
    /**
     * This keeps Windows version from always showing a horizontal scrollbar.
     */
    overflow: hidden;
}

body {
    background-color: #fff;
}

.ui.segment,
.ui.segment.attached {
    border: 0;
}